@font-face {
  font-family: "NotoSansJP";
  src: url("../assets/fonts/NotoSansJP-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "NotoSansJP";
  src: url("../assets/fonts/NotoSansJP-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "MyanmarKhyay";
  src: url("../assets/fonts/Khyay-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

:root {
  --parts-gap: 0.8rem;
  --color-text-white: #fafafa;
  --color-border-green: #cbff36;
  --color-border-blue: #24f0fd;
  --color-border-yellow: #fff506;
  --color-border-silver: #eaeaea;
  --color-gradient-green: linear-gradient(180deg, #cbff36 0%, #4ebe26 100%);
  --color-gradient-blue: linear-gradient(180deg, #24f0fd 0%, #2c8afa 100%);
  --color-gradient-yellow: linear-gradient(180deg, #fff506 0%, #fcaa0c 100%);
  --color-gradient-silver: linear-gradient(180deg, #eaeaea 0%, #868686 100%);
  --color-error: #ff7ef2;
  --color-success: #4fd64f;
}

html {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 16px;
  box-sizing: border-box;
  display: grid;
  place-items: center;

  color: var(--color-text-white);
  font-family: "NotoSansJP", sans-serif;
  overflow: hidden;
}

* {
  font-family: inherit;
  font-weight: inherit;
}

.lazy-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--parts-gap);

  > .board {
    display: flex;
    justify-content: space-between;
    gap: var(--parts-gap);

    > .count {
      flex: 1;
    }
  }

  > .footer {
    text-align: center;
    font-size: 8px;
    line-height: 12px;
  }
}
